<section class="policy-page" id="policy-page">
  <div class="policy-page__container container">
    <h1 class="policy-page__title">{{ page.title }}</h1>
    <div class="policy-page__content rte">
      {{ page.content }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Policy Page",
  "settings": [],
  "presets": [
    {
      "name": "Policy Page"
    }
  ]
}
{% endschema %}
